<div class="todos"> 
    <form (submit)="addTodo()" >

        <input 
        type="text"
        name="inputTodo"
        placeholder="enter new task..."
        class="todo-input"
        [(ngModel)]="inputTodo"
        
        />
        <input 
        type="submit" 
        value="Add new task"
        class="todo-submit"/>
    </form>
    <div *ngFor="let todo of todo;let i=index;" class="todo {{(todo.completed ?
        'done':'')}}">
        <div class="id">{{i}}</div>
        <div class="content" (click)="toggleDone(i)">{{todo.content}}</div> 
        <!-- <button class="update"(click)="update(i)">Update</button> -->
        <button class="delete"(click)="delete(i)">Delete</button>
    </div>
</div>