.todo{
display:table-cell;
padding : 10px 15px;
background-color: beige;
border-bottom: 1px solid #DDD;
width: 30%;
height: 8%; ;
float: right;
margin-top: 55px;;

}

.todo:nth-child(even){
background-color: slategrey;

}
.todo:last-of-type{
border-bottom: 0;
}
.todo .id{
    flex: 1 1 50px;
}
.todo .content{
flex: 1 1 100%;


}
.todo .delete{

    flex: 1 1 100px;
    
}
.todo.done .content{

    text-decoration: line-through;
    
    
}
.todo-input{
display:block;
width: 30%;
padding: 10px 15px;
appearance: none;
border: none;
background-color: rgb(167, 128, 167);
margin-top: 15px;
font-size: 18px;
outline: none;
}
.todo-submit{
    display:table-cell;
    width: 20%;
    float: left;
  border: 3px solid #73AD21;
    
    appearance: none;
    border: none;
    background:none;

    background-color: rgba(172, 171, 161, 0.533);
    color: FFF;
    margin: 10px auto;
    
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 700;

}
